
         /* ###################################
                  ******************************
                 common custom CSS starts
*****************************************
        ####################################  */

  
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
                            
body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(#E7FBBE,#FBFFE2);
}

 /* ###################################
                  ******************************
                 Current package part starts
*****************************************
        ####################################  */
        .package-section{
                margin-bottom: 10%;
                margin-top: 12%;

        }
 
        .package-section h2{
                margin-bottom: 7%;
        }
.hot-package-div {
        background-image: linear-gradient(#FFFDDE, #FFF89A);
        box-shadow: 0px 42px 34px rgba(218, 203, 75, 0.25);
        border-radius: 26px;
        padding-left: 7%;
        
}
.badge{
        bottom: 380px;
}
.package{
        padding-left: 0;
        }
        .package-list{
        list-style: none;
        margin-left: 0;
        font-size: 15px;
        font-weight: 400;
        }


 /* ###################################
                  ******************************
                 Current package part ends
*****************************************
        ####################################  */


/* ******************************************************************** */

 /* ###################################
                  ******************************
                 Bonus/branch part starts
*****************************************
        ####################################  */
.branch-section{
        margin-bottom: 10%;
}
.branch-section .branch-subtitle{
        margin-bottom: 7%;
}


 /* ###################################
                  ******************************
                 Footer part starts
*****************************************
        ####################################  */
/* ******************************************************************** */

.footer-container{
        padding-left: 15%;
        padding-right: 15%;
        height: 280px;
        background-color: #334756;
        margin-top: 10%;
}

 /* ###################################
                  ******************************
                 Footer part ends
*****************************************
        ####################################  */


  /* ###################################
                  ******************************
                 Media query for mobile starts
*****************************************
        ####################################  */
@media (max-device-width:991px) {

.container-fluid .navbar-brand{
        font-size: 1em !important;
}
         /* ###################################
                  ******************************
                 Carousel-caption part starts
*****************************************
        ####################################  */

     .carousel-caption h5{
             font-size: 1em;
     }
     .carousel-caption p{
             font-size: 0.5em !important;
     }
      .carousel-caption .btn {
             font-size: 0.5em !important;
     }
    .all-package{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
    }
    

         /* ###################################
                  ******************************
                 Package part starts
*****************************************
        ####################################  */


 /* ###################################
                  ******************************
                 Footer part starts
*****************************************
        ####################################  */
/* ******************************************************************** */

.footer-container{
        padding-top: 10%;
        padding-left: 25%;
        padding-right: 15%;
        height: 280px;
        color: white;
        background-color: #334756;
}

 /* ###################################
                  ******************************
                 Footer part ends
*****************************************
        ####################################  */


}
 